.container-fluid .head1{
	padding-top: 5%;
	color: #FF9933;
}
.container-fluid .head1 strong h1{
	text-align: center; 
	font-size: 380%;  
	font-weight: bold;font-family: Times New Roman, Times, serif;
	font-size: 60px;
}
.container-fluid .head1 strong .on{
	padding-right: 20%;
}

.sm{
	color: #FF9933;
}
#in1{
	width: 100%;
	 background-color: #DCDCDC;
	  height: 32px;
	   border-style: none;
}
#in2{
	width: 100%; 
	background-color: #DCDCDC; 
	height: 32px;
	border-style:none;
}
.sign{
	margin-left: 60%;
}
/* @media screen and (min-width: 500px) {
	.container-fluid .head1 strong .on{
		padding-right: 50%;
	}
} */